 
 
body { width: 100%;min-width:1024px;

	background: #FFF;
	font-weight: normal;
	position: relative;
	font-size: 13px;
	color: #333333;
	font-family: 'Montserrat', sans-serif;
}
/*=======================================================
      WRAPPER
========================================================*/
#wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 50px;
	padding-top: 0px;
}
#main-wrapper {
	position: relative;
	width: 100%;
	overflow: hidden;
}
/*=======================================================
      HEADINGS
========================================================*/
h1, h2, h3, h4, h6 {
	font-weight: normal;
	color: #101010;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
h1 {
	font-size: 65px;
	color:rgb(255, 254, 254);
}
h2 {
	font-size: 40px;
	color:#000;
}
h3 {
	font-size: 30px;
}
h4 {
	font-size: 22px;
	color: rgb(12, 12, 12);
}
h5 {
	font-size: 18px;
}
h6 {
	font-size: 16px;
}
p {
	color: #989898;
	font-size: 13px;
	line-height: 28px;
	font-family: 'montserratlight';
}
a {
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	text-decoration: none !important;
	font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}
img {
	-webkit-transition: 0.4s ease-in-out;
	-moz-transition: 0.4s ease-in-out;
	-ms-transition: 0.4s ease-in-out;
	-o-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	display: inline-block !important;
}
.dropdwon-menu {
	left: 50%;
	transform: translateX(-50%);}
ul {
	margin-bottom: 0px;
}
.list-wrapper {
	text-align: -webkit-center;
 }
 .list-wrapper ul {
	 display:block;
 }   
li {
	list-style: none;
}
a {
	text-decoration: none;
	color: #757575;
}
.font-montserrat {
	font-family: 'Montserrat', sans-serif;
}
.font-hair-line {
	font-family: 'montserrathairline';
}
.font-light {
	font-family: 'montserratlight';
}
.font-regular {
	font-family: 'montserratregular';
}
.font-extra-bold {
	font-family: 'montserratbold';
}
.font-droid-serif {
	font-family: 'Droid Serif', serif;
}
.text-bold {
	font-weight: bold;
}
.light-gray-bg {
	background: #fbfbfb;
}
/*=======================================================
      SECTION
========================================================*/
section {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.overlay {
	background: rgba(49,49,49,0.7);
}
/*=======================================================
      BUTTON
========================================================*/
.btn {
	background: none;
	color: #35373e;
	border-radius: 4px;
	display: inline-block;
	padding: 13px 30px;
	font-size:8px;
	border: 1px solid #35373e;
	text-transform: uppercase;
	border-radius: 40px;
	margin-top: 30px;
	letter-spacing: 1px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-white {
	color: #fff;
	background: none;
	border: 2px solid #fff;
}
.btn-white:hover {
	background: #fff;
	color: #333;
}
.btn-small {
	font-weight: normal;
	font-size: 11px;
}
.btn-dark {
	color: #35373e;
	border-color: #35373e;
}
.btn:hover {
	background: #35373e;
	color: #fff;
}
.btn-1 {
	background: #333333;
	color: #fff;
}
.btn-1:hover {
	background: none;
	color: #333333;
}
.form-control {
	box-shadow: none;
	border: 1px solid #f7f7f7;
	border-radius: 0px;
	height: 40px;
}
.form-control:focus {
	border: none;
	box-shadow: none;
}
.full-width {
	display: inline-block;
	width: 100%;
}
.no-border {
	border: none !important;
}
.no-padding-t {
	padding-top: 0px !important;
}
.no-padding {
	padding: 0px !important;
}
.no-padding-b {
	padding-bottom: 0px !important;
}
hr {
	height: 1px;
	width: 35px;
	background: #333333;
	border: none;
}
/*=======================================================
      TITULO
========================================================*/
.tittle {
	text-align: center;
	margin-bottom: 30px;
	width: 75%;
	margin: 0 auto;
	margin-bottom: 70px;
}
.tittle h4 {
	font-weight: normal;
	margin: 0px;
	font-size: 26px;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.tittle p {
	color: #989898;
	font-size: 15px;
	font-family: 'Droid Serif', serif;
	line-height: 28px;
}
.bg-white {
	background: #fff !important;
}
.bg-gray-light {
	background: #fbfbfb !important;
}

/*=======================================================
      Padding 150px
========================================================*/
.sectoion-150px {
	padding: 150px 0;
	
}
/*=======================================================
      Padding 100px
========================================================*/
.sectoion-100px {
	padding: 100px 0;
}
/*=======================================================
      HEADER
========================================================*/
header {
	z-index: 99;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
header .logo {
	float: left;
	width: auto;
	margin: 30px 0;
	position: relative;
	z-index: 99;
}
header nav {
	
	position: relative;
	z-index: 999;
	float: right;
	margin-top: 25px;
}
header nav li a {
	padding: 10px 0px;
	margin: 0;
	border-color: transparent;
	text-decoration: none;
	line-height: 20px;
	text-transform: uppercase;
	color: #101010;
	float: left;
	font-size: 12px;
	margin: 0 15px;
	font-family: 'montserratregular';
	position: relative;}
header nav .ownmenu li {
	float: left;
	padding: 0 15px;
}
header .ownmenu ul.dropdown {
	padding-bottom: 0px;
	background: #fff;
}
header .ownmenu ul.dropdown li a {
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	padding: 0px 20px;
	line-height: 38px;
	background: none;
	color: #000;
	font-size: 12px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid rgba(0,0,0,0.05);
}
header .ownmenu ul.dropdown li a:hover {
	background: #343434;
	color: #fff;
}
header .ownmenu li > .megamenu li a:hover {
	background: #343434;
	color: #fff;
}
header nav .ownmenu .indicator {
	display: none;
}

header ul.dropdown li {
	padding: 0px;
}
header ul.dropdown li:hover {
	background: none
}
header.main-header nav .ownmenu li {
	padding: 0px;
}
/*=======================================================
      HOME SLIDER
========================================================*/
.home-slider {
	position: relative;
	overflow: hidden;
	max-height: 825px;
}
/*=======================================================
      CONTENT
========================================================*/
.content {
	background: #bbbbbb;
}
.position-center-center {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

